<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue Problem Set One</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>


    <div id="app">
        <input type="text" v-model="userHobby">
        <button v-on:click="addHobby">New Hobby</button>
        <p v-if="hobbyWasDeleted">Hobby was deleted!</p>
        <p v-bind:style="{color: hobbies.length > 3 ? 'red' : 'black'}"
           v-bind:class="{'multiple-hobbies': hobbies.length > 3}">Hobbies: {{ hobbies.length }}</p>
        <ul>
            <app-hobby v-for="hby in hobbies"
                       v-bind:hobby="hby"
                       v-on:hobbyremoved="removeHobby($event)"></app-hobby>
        </ul>
    </div>

    <script src="app.js"></script>
</body>
</html>